@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html{
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

*{
	font-family: 'Open Sans', sans-serif;
}

input[type="url"]{
	outline: none;
	height: 36px;
    width: 20vw;
}

button{
	background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background: #3f51b5;
    color: #fff;
}

.queue{
	background-color: #eee;
    width: 20%;
    position: relative;
    top: -15vh;
    left: 80%;
    height: 100%;
    display: inline-block;
}

#status{
	display: inline;
}
