@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body, html{
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	background-color: #535375;
	color: #FFF;
}

#main{
	height: 25vh;
    margin: auto;
	position: absolute;
	text-align: center;
	top: 0; left: 0; bottom: 0; right: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center{
	margin: auto;
	position: absolute;
	text-align: center;
	left: 0; bottom: 0; right: 0;
}

#display{
	text-transform: uppercase;
	letter-spacing: 5px;
}

.group{ 
	display: inline-block;
	position:relative; 
	margin-bottom:45px; 
}

#ball{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	color: #FFF;
	background-color: #FFF;
}

input{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid #757575;
	background-color: #535375;
	color: #FFF;
	text-transform: uppercase;
}

input:focus{ outline:none; }

label{
	color:#FFF; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label{
	top:-20px;
	font-size:14px;
	color:#FFf;
}

.bar { 
	position:relative; 
	display:block; 
	width:320px;
}

.bar:before, .bar:after{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#FFF; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.bar:before {
	left:50%;
}

.bar:after {
	right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}

.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
}

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}
